
header {
    background-color: lightpink;
    text-align: center;
    padding: 10px;
    color: white;
}

footer {
    background-color: lightpink;
    text-align: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
div.uuscontainer{
    border-radius: 2px;
    background-color: lightpink ;
    border: solid 1px hotpink;
    bottom: 0;
    flex: auto;
    margin: 20px;
}
div.container {
    display: flex;
    flex-direction: row;

}
@media screen and (max-width: 600px){
    div.container{
        flex-direction: column;
    }
}
div.container > div{
    margin:10px;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px darkgray;
}
img{

}






.menu, .menu ul{
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.menu{
    display: block;
    position: relative;
    height: 47px;
    width: 100%;
    background: lightgray;
    top: 10px;

}
.menu ul>li {
    display: block;
    position: relative;
    float: left;
}

.dropdown{
    display: none;
}
.menu li>a{
    display: block;
    color: #000;
    padding: 16px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;

    transition: all 0.5s ease;
}
.menu li:hover>a{
    background: indianred;
    color: #fff;
}
.dropdown{
    /*  display: none;*/
    display: block;
    position: absolute;
    opacity: 0;
    background: rosybrown;

    transition: all 0.3s ease;
}

.menu li:hover>ul{
    top: 47px;
    left: 0;
    opacity: 1;
}